@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>


<h3>About This Webpage</h3>

<p>This website is used to develope and demonstrate an understanding of cyber security in an environment where security of information is a necessity.</p>
<p>NOTE: The following content would not be included in a realworld deployment and is strictly used to express what is being demonstrated</p>

<h3>Security Measures Taken</h3>
<p>The following are the security measures currently in place:</p>
<ul>
    <li>Required HTTPS connection</li>
    <li>Database Users/Roles to restrict access to certain tables within database</li>
    <li>Parameterized SQL queries to help prevent SQL Injection attacks</li>
    <li>
        A login service that provides the following features
        <ul>
            <li>User Account Creation</li>
            <li>User Login</li>
            <li>User Logout</li>
            <li>Password Reset</li>
            <li>Password hashing using SHA256</li>
            <li>A 128 bit Salt appended to password</li>
        </ul>
    </li>

</ul>
<p>The following are the security measures currently under development:</p>
<ul>
    <li>Precautions to protect against Cross Site Scripting</li>
    <li>Precautions to protect against Cross Site Request Forgery</li>
    <li>Two-Factor Authentication</li>
</ul>



