@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
     <p><strong>Name:</strong> Benjamin Gaull</p>
     <p><strong>Class:</strong> Cpts 427</p>
    <strong>Email:</strong> <a href="mailto:benjamin.gaull@wsu.edu">benjamin.gaull@wsu.edu</a>
</address>